@CHARSET "UTF-8";

#directions-panel {
	height: calc(100% - 108px);
	float: left;
	width: 100%;
	overflow: auto;
}

#map-canvas {
	margin-left: 420px;
}

@media print {
	#map-canvas {
		height: 500px;
		margin: 0;
	}
	
	#directions-panel {
		float: none;
		width: auto;
	}
}
