@CHARSET "UTF-8";

.infobox-wrapper {
	display:none;
}

#nazivNep_infobox { 
	width: 100%;
	height: 18%;
	font-size: 11pt;	
}

#picture-panel {
  	float: left;
	padding: 5px 0 0 0;
  	width: 40%;
  	height: 54%;
}

#properties-detail {
  	width: 100%;
  	height: 54%;
}

#infobox-datumi {
	float: left;
	width: 100%;
  	height: 12%;
	
}

#infobox-buttons {
	width: 100%;
	height: 16%;
	position: absolute;
	bottom: 0px;
}
