@CHARSET "UTF-8";

#overlay {
	visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 850px;
	min-width: 1200px;
    z-index: 1; 
  	background-color: rgba(140,140,140,0.5);     
}

#overlay-panel {
	width: 700px;
    height: 500px;
    overflow: auto;
    margin: 50px auto; 
    /*obrobna črta*/
    border: 10px solid #989898;
    background-color: #FFF;    
}

#overlay-header {
	/*top right bottom left*/
	padding:0px 0px 0px 5px;
}

a.close_button{
  	float: right;
  	margin-top: 0px;
  	margin-right: 0px;
  	cursor: pointer;
	/*barva x-a*/
	color: #000;	      
	/*barva ozadja*/
	background: #FFF;
	font-size: 31px;
	font-weight: bold;
	display: inline-block;
	line-height: 0px;
    padding: 11px 3px;           
}

.close_button:before {
	content: "×";		
}

.close_button:hover {
  	color: #686868 ;
}

#tabContainer {
	width: 100%;
}

.tabs {
	/*višina tab-ov*/
	height: 20px;
}

.tabs > ul {
	/*velikost pisave*/
	font-size: 1em;
	/*da ni pikic pred besedami*/
	list-style: none;
	/*dodatno (da so tab-i na začetku)*/
	padding: 0;
	margin: 20px 0 0 10px;
}
.tabs > ul > li {
	/*prostor med dvema tab*/
	margin: 0 2px 0 0;
	/*velikost tab-a okoli texta*/
	padding: 5px 25px;
	/*da se prikaže kot blok in levo*/
	display: block;
	float: left;
	/*barva pisave*/
	color: #FFF;

	border: 1px solid #bbb;
	border-bottom-color: #000;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
				
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	/*da so tab-i zgoraj zaobljeni spodaj pa ne*/
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	
	/*barva tab-a  */
	background: #707070; 
	background: -moz-linear-gradient(top, #707070 0%, #707070 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#707070)); 
}

.tabs > ul > li:hover{
	background: #FFFFFF; 
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); 
	cursor: pointer;
	color: #333;
}

.tabs > ul > li.tabActiveHeader{
	background: #FFFFFF;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF));
	cursor: pointer;
	color: #333;
	border-bottom-width: 1px;
	border-color: black;
	border-bottom-color: #FFF;
}

.tabsContent {
 	height: 400px;
 			 	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	
	border: 1px solid #000;
	
	padding: 5px 10px 5px;
	background: #FFFFFF; 
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #FFFFFF 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#FFFFFF));
	margin: 29px 10px 10px 10px;
	color:#333;				
}

/*for image slider*/
#imageContent {
	position: absolute;
	width: 555px;
	height: 400px;   
	margin-left: 50px;
	padding: 0;
	border: 1px solid #000;	
}

#slike {			
	width: 555px;
	/*height: 400px;   !!!!!!!!!!!!!!!!!*/
}

#nextImage {
  width: 10%;
  float: right;  
}

a.next_button {
	float:right;
    margin-top:0px;
    margin-right:0px;
    cursor:pointer;
    /*barva x-a*/
    color: #000;	      
    border: 1px solid #AEAEAE;
    /*barva ozadja*/
    background: #FFF;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 200px 3px;   
     
    -moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 0px;	          
}

.next_button:before {
	content: ">>";		
}

#previousImage {
	width: 10%;
	float: left;
}

a.previous_button {
	float:left;
    margin-top:0px;
    margin-left:0px;
    cursor:pointer;
    /*barva x-a*/
    color: #000;	      
    border: 1px solid #AEAEAE;
    /*barva ozadja*/
    background: #FFF;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 200px 3px;   
     
    -moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 4px;	          
}

.previous_button:before {
  	content: "<<";		
}

.listDodatnoClass {
  	float: left;
  	width: 632px;
  	height: 270px; /*!!!!!!*/
  	margin: 0;
  	padding: 0 0 0 25px;
  	list-style-type: circle;
}

.listDodatnoClass > li {	
  	float: left;
  	width: 194px;
	margin: 0;
  	padding: 0 5px 0 0;
  	color: gray;
  
} 
.listDodatnoClass > li > span {
	color: black;
}
