@CHARSET "UTF-8";

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px
}

p {
	padding: 0;
	margin: 0;
}

#container {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 850px;
	min-width: 1200px;
}

#header {
	width: 100%;
	height: 40px;
}

#favourites {
	float: left;
	padding: 5px 0 0 5px;
}

#userdata {
	font-size: 13pt; 
	float: right;
	padding: 5px 15px 0 0
}

#map-canvas {
	width: calc(100% - 420px);
	height: calc(100% - 40px);
	margin: 0px;
	padding: 0px;
}

#leftPanel {
	float: left;
	width: 420px;
	height: calc(100% - 40px);	    
}

#leftPanelUp {
	width: 100%;
	height: 570px;
	padding-left: 7px;
}

#leftPanelDown {
	width: 100%;
	height: calc(100% - 570px);	
}
